<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PopularFace.ai</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    
</head>
<body class="bg-gray-200" style="font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <nav class="bg-black py-2 text-white">
        <div class="w-[90%] flex justify-between items-center py-3 mx-auto">
            <a href="{{ url_for('check_image') }}" class="text-3xl font-bold">PopularFace<span class="text-green-600">.ai</span></a>
            <a href="{{ url_for('upload_details') }}" class="text-green-600 hover:text-orange-700 text-xl fot-medium">
                <i class="fas fa-plus"></i> <span class="hidden md:inline">Upload</span> New</a>
        </div> 
        
    </nav>


    <!-- start of content -->


    {% block content %}{% endblock %}


        <!-- end of content -->
</body>
</html>
